{% extends 'base_form.html' %}
{% block title %}Log Out{% endblock %}
{% block card-header %}Log Out{% endblock %}
{% block form %}
    <div class="container text-center">
        <h1>You have been logged out successfully!</h1>
        <br>
        <p>Waiting for you soon.</p>
        <br>
        <br>
        <p>Redirecting to main page...</p>
        <script>
            setTimeout(function() {
                window.location.href = "/";
                }, 3000);
        </script>
    </div>
{% endblock %}
{% block button %}{% endblock %}