{% extends 'base_form.html' %}
{% block title %}
    {% if validlink %}
        New password
    {% else %}
        Error
    {% endif %}
{% endblock %}
{% block card-header %}
    {% if validlink %}
        Create new password
    {% else %}
        Error
    {% endif %}
{% endblock %}
{% block form %}
    {% if validlink %}
        {{ block.super }}
    {% else %}
        <div class="card-body">
            <p>Reset link is damaged or doesn't exist anymore.</p>
            <a href="{% url 'users:password_reset'%}" class="btn btn-link">Try again</a>
        </div>
    {% endif %}
{% endblock %}
{% block button %}
    {% if validlink %}
        Set new password
    {% else %}
        Error
    {% endif %}
{% endblock %}