{% extends "base.html" %}
{% block header %}
    {% if tag %}
        <h2 class="block-header">Posts tagged with {{ tag.name }}</h2>
    {% else %}
        <h2 class="block-header">All posts</h2>
    {% endif %}
{% endblock %}
{% block content %}
    <h2 class="block-header">{{ group.title }}</h2>
    <br>
    {{ group.description }}
    <br>
    {% include "post_maker/includes/post_list.html" %}
    <br>
    {% include 'post_maker/includes/paginator.html' %}
    <br>
    <a href="{% url 'post_maker:index' %}">Main</a>
{% endblock %}