{% extends "base.html" %}
{% block content %}
    {{ header|safe }}
    <br>
    <p>{{ groups_count }} group{{ groups_count|pluralize }}: </p>
    <br>
    {% for group in page_obj %}
        <div class="group">
            <a href="{% url 'post_maker:group_page' group.slug %}">{{ group.title }}</a>
            <br>
            <p>{{ group.description }}</p>
        </div>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    <br>
    {% include 'post_maker/includes/paginator.html' %}
    <br>
{% endblock %}