{% extends "base.html" %}
{% block header %}Last posts on site{% endblock %}
{% block content %}
    <div class="container">
        {% for post in page_obj %}
            <ul>
                <li>Author: {{post.author}}</li>
                <li>Date: {{post.pub_date|date:"d E Y"}}</li>
                <li>Group: {{ post.group }}</li>
            </ul>
            <p>{{post.text}}</p>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </div>
    <br>
    {% include 'post_maker/includes/paginator.html' %}
    <br>
    <a href="{% url 'post_maker:group_posts' %}">Groups</a>
{% endblock %}