{% extends "base.html" %}
{% block header %}
    {% if tag %}
        <h2 class="block-header">Posts tagged with {{ tag.name }}</h2>
    {% else %}
        <h2 class="block-header">Last posts on site</h2>
    {% endif %}
{% endblock %}
{% block content %}
    {% include "post_maker/includes/switcher_follow.html" %}
    {% include "post_maker/includes/post_list.html" %}
    <br>
    {% include 'post_maker/includes/paginator.html' %}
    <br>
{% endblock %}
{% block scripts %}
    <script>
        document.getElementById('all-posts-btn').addEventListener('click', function() {
            window.location.href = "{% url 'post_maker:index' %}?filter=all";
        });

        document.getElementById('followed-posts-btn').addEventListener('click', function() {
            window.location.href = "{% url 'post_maker:index' %}?filter=followed";
        });
    </script>
{% endblock %}