{% extends 'base.html' %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="row">
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Publish date: {{ post.pub_date|date:"d E Y H:i:s" }}</li>
                {% if group %}
                    <li class="list-group-item"><a href="{% url 'post_maker:group_page' group.slug %}">Group: {{ group.title }}</a></li>
                {% endif %}
                <li class="list-group-item">Author: {{ post.author }}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    All posts: <span>{{ count }}</span>
                </li>
                <li class="list-group-item"><a href="{% url 'post_maker:profile' post.author %}">All posts by {{ post.author }}</a></li>
            </ul>
        </aside>
        <br>
        <hr>
        <br>
        <article class="col-12 col-md-9">
            <p>{{ post.text }}</p>
        </article>
        <br>
        <a href="{% url 'post_maker:group_posts' %}">Groups</a>
    </div>
{% endblock %}