{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="post-container">
        <div class="post-item">
            <div class="post-meta">
                <span class="post-date">{{ post.pub_date|date:"d E Y H:i:s" }}</span>
                <span class="post-author">by <a href="{% url 'post_maker:profile' post.author %}">{{ post.author }}</a></span>
                {% if post.group %}
                    <span class="post-group"><a href="{% url 'post_maker:group_page' post.group.slug %}">{{ post.group.title }}</a></span>
                {% endif %}
            </div>
            {% if post.title %}
                <h2 class="post-title">{{ post.title }}</h2>
            {% endif %}
            {% if post.image %}
            <div class="post-image">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
            {% endif %}
            <div class="post-content">
                <p>{{ post.text }}</p>
            </div>
            <div class="post-list-meta">
                {% for tag in post.tag.all %}
                    <a class="post-list-tags" href="{% url 'post_maker:index_by_tag' tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            {% if request.user == post.author %}
                <div class="post-actions">
                    <a class="edit-button" href="{% url 'post_maker:edit_post' post.id post.slug %}">Edit</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="comments-section">
        {% include 'post_maker/includes/comment_form.html' %}
        {% include 'post_maker/includes/comments_list.html' %}
    </div>
{% endblock %}
{% block scripts %}{% endblock %}