{% extends 'base.html' %}
{% block title %}Profile: {{ username }}{% endblock %}
{% block header %}<h2 class="block-header">All posts by <i>{{ username }}</i></h2>{% endblock %}
{% block content %}
    <div>
        {% if request.user.username != username %}
            {% if is_subscribed %}
                <form action="{% url 'post_maker:unsubscribe' username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>
            {% else %}
                <form action="{% url 'post_maker:subscribe' username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
            {% endif %}
        {% endif %}
        <h3>Posts count: {{ count }}</h3>
        <br>
        <hr>
        <br>
        {% if count > 0 %}
        <h4>Last post</h4>
        <div class="post-list-item post-list">
            <div class="post-list-meta">
                <span class="post-list-date">{{latest.pub_date|date:"d E Y"}}</span>
                <span class="post-list-author">by <a href="{% url 'post_maker:profile' latest.author %}">{{ latest.author }}</a></span>
                {% if latest.group %}
                    <span class="post-list-group"><a href="{% url 'post_maker:group_page' latest.group.slug %}">{{ latest.group }}</a></span>
                {% endif %}
            </div>
            {% if latest.title %}
                <h2 class="post-list-title">{{ latest.title }}</h2>
            {% endif %}
            <p class="post-excerpt">{{ latest.text|slice:":30" }}...</p>
            <a href="{% url 'post_maker:post_detail' latest.id latest.slug %}" class="read-more">Read more</a>
        </div>
        <br>
        <hr>
        {% else %}
        <h4>There is no posts yet</h4>
        {% endif %}
        <br>
        {% if count > 1 %}
        <h4>All posts by {{ username }}</h4>
        {% include "post_maker/includes/post_list.html" %}
        {% endif %}
        <br>
        {% include 'post_maker/includes/paginator.html' %}
        <br>
    </div>
{% endblock %}