{% load post_tags %}
{% load filters %}
<div class="post-list">
    {% for post in page_obj %}
        <div class="post-list-item">
            <div class="post-list-meta">
                <span class="post-list-date">{{post.pub_date|date:"d E Y"}}</span>
                <span class="post-list-author">by <a href="{% url 'users:profile' post.author %}">{{ post.author }}</a></span>
                {% if post.group %}
                    <span class="post-list-group"><a href="{% url 'post_maker:group_page' post.group.slug %}">{{ post.group }}</a></span>
                {% endif %}
            </div>
            {% if post.title %}
                <h2 class="post-list-title">{{ post.title }}</h2>
            {% endif %}
            {% if post.image %}
                <div class="post-image">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
            {% endif %}
            <p class="post-excerpt">{{ post.text|markdown|truncatewords_html:30 }}...</p>
            <div class="post-list-meta">
                {% for tag in post.tag.all %}
                {% if request.resolver_match.view_name == "post_maker:index" or request.resolver_match.view_name == "post_maker:index_by_tag" %}
                    <a class="post-list-tags" href="{% url 'post_maker:index_by_tag' tag.slug %}">{{ tag.name }}</a>
                {% elif request.resolver_match.view_name == "post_maker:group_page" or request.resolver_match.view_name == "post_maker:group_page_by_tag" %}
                    <a class="post-list-tags" href="{% url 'post_maker:group_page_by_tag' post.group.slug tag.slug %}">{{ tag.name }}</a>
                {% elif request.resolver_match.view_name == "users:profile" or request.resolver_match.view_name == "users:profile_by_tag" %}
                    <a class="post-list-tags" href="{% url 'users:profile_by_tag' post.author tag.slug %}">{{ tag.name }}</a>
                {% elif request.resolver_match.view_name == "post_maker:search_field" or request.resolver_match.view_name == "post_maker:search_field_by_tag" %}
                    <a class="post-list-tags" href="{% url 'post_maker:search_field_by_tag' tag.slug %}">{{ tag.name }}</a>
                {% endif %}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            {% with likes_dict|get_item:post.id as liked %}
            <div class="like-dislike-container">
                <button id="like-btn-{{ post.id }}"
                    class="like-btn {% if liked is True %}active-like{% endif %}"
                    onclick="likeDislikePost({{ post.id }}, true)">
                    👍 Like
                </button>

                <button id="dislike-btn-{{ post.id }}"
                    class="dislike-btn {% if liked is False %}active-dislike{% endif %}"
                    onclick="likeDislikePost({{ post.id }}, false)">
                    👎 Dislike
                </button>
            </div>
            {% endwith %}

            <p>Likes: <span id="likes-count-{{ post.id }}">{{ post|count_likes }}</span></p>
            <p>Dislikes: <span id="dislikes-count-{{ post.id }}">{{ post|count_dislikes }}</span></p>
            <a href="{{ post.get_absolute_url }}" class="read-more">Read more</a>
        </div>
    {% empty %}
        {% if request.resolver_match.view_name == "post_maker:search_field" or request.resolver_match.view_name == "post_maker:search_field_by_tag" %}
            <p>No results for search query.</p>
        {% endif %}
    {% endfor %}
</div>