{% extends 'base.html' %}
{% block title %}Chatiphy Tech{% endblock %}
{% block header %}Technologies and Programming languages{% endblock %}
{% block content %}
    <br>
    <div class="container py-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="https://www.djangoproject.com/" target="_blank">Django Framework</a></li>
            <li class="list-group-item"><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
            <li class="list-group-item"><a href="https://www.python.org/" target="_blank">Python</a></li>
            <li class="list-group-item"><a href="https://en.wikipedia.org/wiki/HTML5" target="_blank">HTML5</a></li>
        </ul>
    </div>
    <br>
{% endblock %}