<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chatiphy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <header>{% include "includes/header.html" %}</header>
    <main>
        {% block header %}{% endblock %}
        <br>
        {% block content %}
        {% endblock %}
        <br>
    </main>
    {% include "includes/footer.html" %}
</body>
</html>