{% load static %}
<div class="header-line">
    <div class="header-logo">
        <a href="{% url 'post_maker:index' %}">
            <img src="{% static 'img/header_logo.png' %}" class="header-logo-img" alt="CHATIPHY">
        </a>
    </div>
    <div class="nav-panel">
        <div class="search-form-full">
            <form class="form-inline" action="/">
                <input name="q" class="form-control form-control-lg mr-sm-2 " type="search" placeholder="Search" {% if keyword %} value="{{ keyword }}" {% endif %}>
                <button class="btn btn-primary" type="submit">Find</button>
            </form>
        </div>
        <div class="profile-link active">
                {% with request.user.username|slice:":1" as first_letter %}
                <button id="profileButton" class="navbar-toggler profile nav-link {% if user.is_authenticated %}in{% else %}out{% endif %}" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menu">{{ first_letter|upper }}</button>
                {% endwith %}
        </div>
    </div>
</div>
<nav id="navbar" class="navbar navbar-light bg-light hidenav">
    <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="nav ml-auto mr-auto nav-pills">
            <div class="search-form text-center d-inline-block">
                <form class="form-inline" action="/">
                    <input name="q" class="form-control form-control-lg mr-sm-2 d-inline-block" type="search" placeholder="Search" {% if keyword %} value="{{ keyword }}" {% endif %}>
                    <button class="btn btn-primary d-inline-block" type="submit">Find</button>
                </form>
            </div>
            {% with request.resolver_match.view_name as view %}
            {% if user.is_authenticated %}
            <li class="nav-item {% if view == 'post_maker:profile' %}active{% endif %}">
                <a class="nav-link" href="{% url 'post_maker:profile' user.username %}">Profile</a>
            </li>
            <li class="nav-item {% if view == 'post_maker:create_post' %}active{% endif %}">
                <a class="nav-link" href="{% url 'post_maker:create_post' %}">New post</a>
            </li>
            <li class="nav-item {% if view == 'post_maker:group_posts' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'post_maker:group_posts' %}">Groups</a>
            </li>
            <li class="nav-item {% if view == 'users:logout' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'users:logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item {% if view == 'users:login' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'users:login' %}">Login</a>
            </li>
            <li class="nav-item {% if view == 'users:signup' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'users:signup' %}">Sign up</a>
            </li>
            {% endif %}
            <li class="nav-item {% if view == 'about:author' %}active{% endif %}">
                <a class="nav-link" href="{% url 'about:author' %}">About author</a>
            </li>
            <li class="nav-item {% if view == 'about:tech' %}active{% endif %}">
                <a class="nav-link" href="{% url 'about:tech' %}">Technologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            {% endwith %}
        </ul>
    </div>
</nav>
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const profileButton = document.getElementById('profileButton');

    profileButton.addEventListener('click', function () {
        // Перемикання класу 'active' для збереження стану
        profileButton.classList.toggle('active');
        var navMenu = document.getElementById("navbar");
        navMenu.classList.toggle("hidenav");
    });
});
</script>
{% endblock %}