{% load static %}
<div class="header-line">
    <div class="header-logo">
        <h2 class="navbar-brand" style="color:#003366">CHATIPHY</h2>
    </div>
    <div class="nav-panel">
        <div class="search-form-full">
            <form class="form-inline" action="/">
                <input name="q" class="form-control form-control-lg mr-sm-2 " type="search" placeholder="Search" {% if keyword %} value="{{ keyword }}" {% endif %}>
                <button class="btn btn-primary" type="submit">Find</button>
            </form>
        </div>
        <div class="profile-link">
            {% if user.is_authenticated %}
            <a class="nav-link profile-link" href="{% url 'post_maker:profile' user.username %}">{{ user.username }}</a>
            {% endif %}
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="btn-menu">
        <button class="btn btn-primary navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
            | | |
        </button>
    </div>
    <div class="collapse navbar-collapse d-none d-md-block text-center" id="navbarNav">
        <ul class="nav ml-auto mr-auto nav-pills">
            <div class="search-form text-center d-inline-block">
                <form class="form-inline" action="/">
                    <input name="q" class="form-control form-control-lg mr-sm-2 d-inline-block" type="search" placeholder="Search" {% if keyword %} value="{{ keyword }}" {% endif %}>
                    <button class="btn btn-primary d-inline-block" type="submit">Find</button>
                </form>
            </div>
            {% with request.resolver_match.view_name as view %}
            <li class="nav-item {% if view == 'about:author' %}active{% endif %}">
                <a class="nav-link" href="{% url 'about:author' %}">About author</a>
            </li>
            <li class="nav-item {% if view == 'about:tech' %}active{% endif %}">
                <a class="nav-link" href="{% url 'about:tech' %}">Technologies</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_maker:create_post' %}">New post</a>
            </li>
            <li class="nav-item {% if view == 'post_maker:group_posts' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'post_maker:group_posts' %}">Groups</a>
            </li>
            <li class="nav-item {% if view == 'users:password_change' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'users:password_change' %}">Change password</a>
            </li>
            <li class="nav-item {% if view == 'users:logout' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'users:logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item {% if view == 'users:login' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'users:login' %}">Login</a>
            </li>
            <li class="nav-item {% if view == 'users:signup' %}active{% endif %}">
                <a class="nav-link link-light" href="{% url 'users:signup' %}">Sign up</a>
            </li>
            {% endif %}
            {% endwith %}
        </ul>
    </div>
</nav>