{% load static %}
<nav class="navbar">
    <div class="container row py-15">
        <div class="col-md-4">
            <a href="/"><img width="100%" height="100%" src="{% static 'img/logo.png' %}" alt="logo"></a>
        </div>
        <div class="col-md-4">
            <h2 style="color:#003366">CHATIPHY</h2>
            <p><span style="font-style:italic; color:#003366">Let your soul speak...</span></p>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <form class="form-inline" action="/">
                    <div class="form-row">
                        <input name="q" class="form-control form-control-lg" type="search" placeholder="Search" {% if keyword %} value="{{ keyword }}" {% endif %}>
                        <button class="btn" type="submit">Find</button>
                    </div>
                </form>
            </div>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:author' %}">About author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:tech' %}">Technologies</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">New post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'users:password_change' %}">Change password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'users:logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'users:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'users:signup' %}">Sign up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>